<div class="box box-default collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">File System</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        The body of the box
    </div>
</div>
<script type="text/javascript">
    if (window.location.href == "http://txuritan.github.io/dist/") {
        ...then to this
    } else if (window.location.href == "http://txuritan.github.io/dist/css/") {
        ...then to this
    } else if (window.location.href == "http://txuritan.github.io/dist/css/pages/") {
        ...then to this
    } else if (window.location.href == "http://txuritan.github.io/dist/js/") {
        ...then to this
    }
</script>