<style>
        .dropdown-menu > li > span {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857;
            color: #333;
            white-space: nowrap;
        }
    </style>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TKI-101</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eras <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="#">To be added</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empires <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="#">To be added</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Characters <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="characters-alliana-linnan.html">Alliana Linnan</a>
                            </li>
                            <li>
                                <a href="characters-eden-crystal.html">Eden Crystal</a>
                            </li>
                            <li>
                                <a href="characters-ina-maerie.html">Ina Maerie</a>
                            </li>
                            <li>
                                <a href="characters-kam.html">Kam</a>
                            </li>
                            <li>
                                <a href="characters-kristian-phyno.html">Kristian Phyno</a>
                            </li>
                            <li>
                                <a href="characters-nurosira-freluv.html">Nurosira Freluv</a>
                            </li>
                            <li>
                                <a href="characters-nyrena-xelei.html">Nyrena Xelei</a>
                            </li>
                            <li>
                                <a href="characters-rii.html">Rii</a>
                            </li>
                            <li>
                                <a href="characters-taeh-osearr.html">Taeh Osearr</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Planets <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="planets-animalia.html">Animalia</a>
                            </li>
                            <li>
                                <a href="planets-bygertha.html">Bygertha</a>
                            </li>
                            <li>
                                <a href="planets-caneria.html">Caneria</a>
                            </li>
                            <li>
                                <a href="planets-cat-world.html">Cat World</a>
                            </li>
                            <li>
                                <a href="planets-dragorah.html">Dragorah</a>
                            </li>
                            <li>
                                <a href="planets-earthora.html">Earthora</a>
                            </li>
                            <li>
                                <a href="planets-hereditania.html">Hereditania</a>
                            </li>
                            <li>
                                <a href="planets-kentotia.html">Kentotia</a>
                            </li>
                            <li>
                                <a href="planets-lavarkee.html">Lavarkee</a>
                            </li>
                            <li>
                                <a href="planets-megaguirus.html">Megaguirus</a>
                            </li>
                            <li>
                                <a href="planets-neko-world.html">Neko World</a>
                            </li>
                            <li>
                                <a href="planets-oceania.html">Oceania</a>
                            </li>
                            <li>
                                <a href="planets-saintans.html">Saintans</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Copyright <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                                    <img alt="Creative Commons License" style="border-width:0" src="/img/by-sa.svg" height="31px" width="88px" />
                                </a>
                            </li>
                            <li>
                                <span><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">TKI-101</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://txuritan.github.io/" property="cc:attributionName" rel="cc:attributionURL">Ian Cronkright & Tyler Cook</a> is licensed under a </span>
                                <span><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</span>
                            </li>
                            <li>
                                <span>Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="http://txuritan.github.io/tki-101/" rel="dct:source">http://txuritan.github.io/tki-101/</a>.</span>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>