    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TKI-101</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Eras <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="#">To be added</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Empires <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="#">To be added</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Characters <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="characters-alliana-linnan.html">Alliana Linnan</a>
                            </li>
                            <li>
                                <a href="characters-eden-crystal.html">Eden Crystal</a>
                            </li>
                            <li>
                                <a href="characters-kristian-phyno.html">Kristian Phyno</a>
                            </li>
                            <li>
                                <a href="characters-nurosira-freluv.html">Nurosira Freluv</a>
                            </li>
                            <li>
                                <a href="characters-nyrena-xelei.html">Nyrena Xelei</a>
                            </li>
                            <li>
                                <a href="characters-taeh-osearr.html">Taeh Osearr</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Planets <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="divider"></li>
                            <li>
                                <a href="planets-animalia.html">Animalia</a>
                            </li>
                            <li>
                                <a href="planets-bygertha.html">Bygertha</a>
                            </li>
                            <li>
                                <a href="planets-caneria.html">Caneria</a>
                            </li>
                            <li>
                                <a href="planets-cat-world.html">Cat World</a>
                            </li>
                            <li>
                                <a href="planets-dragorah.html">Dragorah</a>
                            </li>
                            <li>
                                <a href="planets-earthora.html">Earthora</a>
                            </li>
                            <li>
                                <a href="planets-hereditania.html">Hereditania</a>
                            </li>
                            <li>
                                <a href="planets-kentotia.html">Kentotia</a>
                            </li>
                            <li>
                                <a href="planets-lavarkee.html">Lavarkee</a>
                            </li>
                            <li>
                                <a href="planets-megaguirus.html">Megaguirus</a>
                            </li>
                            <li>
                                <a href="planets-neko-world.html">Neko World</a>
                            </li>
                            <li>
                                <a href="planets-oceania.html">Oceania</a>
                            </li>
                            <li>
                                <a href="planets-saintans.html">Saintans</a>
                            </li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
