---
layout: default
---
<div class="content-wrapper">
    <section class="content-header">
        <h1>{{ page.title }}</h1>
        <ol class="breadcrumb">
            <li><a href="http://txuritan.github.io/"><i></i> Home</a>
            </li>
            <li><a href="{{ page.url }}"><i class="active"></i> {{ page.title }}</a>
            </li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        {{ content }}
                    </div>
                    <div class="box-footer">
                        <div id="disqus_thread"></div>
                        <script type="text/javascript">
                            /* * * CONFIGURATION VARIABLES * * */
                            var disqus_shortname = 'txuritan';
                            var disqus_identifier = '{{ page.disqusid }}';

                            /* * * DON'T EDIT BELOW THIS LINE * * */
                            (function () {
                                var dsq = document.createElement('script');
                                dsq.type = 'text/javascript';
                                dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                        </noscript>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>