<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">

<head>
    <!--Main Meta-->
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Twitter Meta-->
    <!--Title, Stylesheets, and Javascript-->
    <title>TKI-101 | Wiki</title>
    <link rel="shortcut icon" href="img/" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/">
    <link href="/fonts/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/tki-101.css" rel="stylesheet" type="text/css" />
</head>

<body>

    {% include tki101nav.html %}
    
    {{ content }}
    
    <script src="plugins/jquery/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>
